.projectName {
    color: aquamarine;
}
.articleCard {
    border: 5px solid rgb(23, 36, 21);
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    margin: 50px;
    background-color: rgb(255, 254, 234);
}

.articleCardImage {
    max-width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.articleCardImage img {
    height: auto;
    width: 100%;
    flex-shrink: 0;
}

.articleCardContent {
    padding-left: 15px;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


