.projectName {
    color: rgb(30, 109, 30);
    margin-left: 100px;
}

.articleCard {
    border: 5px solid rgb(20, 62, 17);
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    margin: 50px;
    background-color: rgb(30, 109, 30);
}

.articleCardImage {
    max-width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.articleCardImage img {
    height: auto;
    width: 100%;
    flex-shrink: 0;
}

.articleCardContent {
    color: white;
    padding-left: 15px;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.articleCardLink {
    color: white;
}

.articleCardLink:hover {
    color:rgb(20, 62, 17);
}



